@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('../../public/font/PyeongChangPeace-Bold.ttf') format('woff2');
    font-weight: 300, 700;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold','PyeongChangPeace-Light';
    src: url('../../public/font/PyeongChangPeace-Light.ttf') format('woff2');
    font-weight: 300, 700;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('../../public/font/PyeongChang-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChang-Regular';
    src: url('../../public/font/PyeongChang-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    
}

li{
    list-style: none;
}
.h100vh{ height: 100vh;}

#root{
    font-family: 'PyeongChang-Regular';
    font-weight: 400;
    
    // letter-spacing: -0.083em;
    a{
        color:black
    }
    a:hover{
        color: #ffc107;
    }

    h1{
        max-width:9.5rem;
        svg{
            height:2.8rem;
            transform: translateY(-30%);
            transform-origin: center;
            transition: 0.5s;
            #blackIcon{
                transform: translateY(-200%);
                transition: 0.5s;
            }
            #deaback{
                transform: translateY(-200%);
                transition: 0.5s;
            }

        }  

    }

    h3{
        text-align: center!important;
    }
    

    #hd{
        
        background-color: white;
        &.scroll{
            background-color: rgba(0,0,0,.5);
           
            a{
                color:white;
            }
            h1 svg{
                transform: translateY(0);
                g{
                    g{ fill: white;}
                }
                
                #blackIcon{
                    transform: translateY(0);
                }
                #deaback{
                    transform: translateY(0);
                }

            }
            

        }
        #allMenu{
            font-weight: 500;
        }

        .mobileNavi{
            position: absolute;
            top: calc(100% + 1px);
            left:0;
            right:0;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition:  max-height 0.5s ease-out;

            a{
                color:black !important
            }

            &:before,
            &:after{
                content: "";
                display: block;
                height: 1rem;

            }

            &.on{
                max-height: calc(100vh - 50px); 
                
            }

        }
        
    }
    .workSection{
        .swiper-wrapper{
            .swiper-slide{
              
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:after{
        content: "";
        display: block;       
        height:0;
        padding-top: 100%;
        
    }
  
                
            }
            .banner1{
                background:url('../../public/img/bj1.png') no-repeat center;
                
                
                color:white;
                @media (max-width:768px) {
                    background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
                    
                }
            }
            .banner2{
                background:url('../../public/img/bj2.png') no-repeat center;
                
                
                color:white;
                @media (max-width:768px) {
                    background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
                    
                }
            }
            .banner3{
                background:url('../../public/img/bj3.png') no-repeat center;
                
                
                color:white;
                @media (max-width:768px) {
                    background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
                    
                }
            }
        }
        .swiper-scrollbar-horizontal{
            height: 2px;
            bottom:0;
            left:0;
            right:0;
            width:100%;
        }

        .swiper-pagination-bullets{
            display: none;
        }
    }

    .section {
        // height: calc(100vh - 120px);
        min-height:200px;
    }
    

    .menu {background-size: auto 30%;}
    .pop {background-size: auto 50%;};

    #promotion{
     
    }

    
}

#root{
    #promotion{
    .swiper-wrapper{
        .swiper-slide{



background-repeat: no-repeat;
background-size: auto 100%;
           
background-position: center;
height:100vh;

&:after{
    content: "";
    display: none;       
   
   
    
}

            
        }

}
}
}

@media (min-width:1280px) {
    #root{
        #promotion{
        .swiper-wrapper{
            .swiper-slide{
                // background-size: 100% auto;
            }
        }
        }
    }
                
}